**/node_modules
**/.DS_Store

#BACKEND
backend/node_modules
backend/.DS_Store
#backend/config/.env

#FRONTEND
frontend/.DS_Store
frontend/node_modules
frontend/build
frontend/.svelte-kit
frontend/package
frontend/.env
frontend/.env.*
frontend/!.env.example
frontend/.vercel
frontend/.output
