html,
body {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	background-color: #181a2a;
	color: #333;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

/*	LINK	*/
.link {
	text-decoration: none;
	color: #a8acbf;
	margin: 0 15px;
	font-size: 1.2em;
	transition: all .2s ease-in-out;
}


.link:hover {
	color: #557fee;
}

.link.gold:hover {
	color: #feb139;
}

/*	BUTTON	*/
.btn {
	text-decoration: none;
	color: white;
	background-color: #557fee;
	padding: 10px 15px;
	font-size: 1.1em;
	transition: all .2s ease-in-out;
	border: 0;
	font-weight: 400;
	border-radius: 5px;
	cursor: pointer;
}

.btn.icon svg {
	margin-right: 10px;
}

.btn.action {
	background-color: #373c44;
}

.btn.new:hover {
	background-color: #69bb62;
}

.btn.update:hover {
	background-color: #feb139;
}

.btn.delete:hover {
	background-color: #f46675;
}

/*	HEADER	*/
.headerNav {
	display: flex;
	align-items: center;
}

.title {
	color: #a8acbf;
	font-size: 1.2em;
}

/*	FORM	*/




.contentForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.contentForm .btn {
	width: 100%;
	margin-top: 40px;
}

.contentForm .input {
	margin-top: 40px;
	width: 96%;
	position: relative;

}

.contentForm .input label {
	top: -25px;
	font-size: 1em;
	position: absolute;
	font-weight: 600;
	color: #a8acbf;
}

.contentForm .input input {
	font-size: 1em;
	width: 96%;
	padding: 10px 2%;
	height: 100%;
	border: 0;
	border-radius: 5px;
	outline: none;
}

.contentForm .input select {
	font-size: 1em;
	width: 100%;
	padding: 10px 2%;
	height: 100%;
	border: 0;
	border-radius: 5px;
	outline: none;
}